body {
    margin: 0;
    display:flex;
    background-color: #212121;
    height:100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

aside {
    display:flex;
    flex-direction: column;
    background-color: #181818;
    width:220px;
    padding-left:10px;
    padding-top:10px;
    padding-right:10px;
}

main {
    flex: 1;
}

#top_buttons {

}

#chat {

}

.expand_icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: rgb(175,175,175);
    width:36px;
    height:36px;
    float:right;
    cursor:w-resize;
}

.expand_icon > svg {
    width: 20px;
    height: 20px;
    padding: 8px 8px 8px 8px;
}

.expand_icon > svg:hover {
    background-color: #ffffff26;
    border-radius: 10px;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    width:36px;
    fill: white;
    height:36px;
}

.icon > svg {
    width:20px;
    height:20px;
    padding: 8px 8px 8px 8px;
}

.icon > svg:hover {
    background-color: #ffffff26;
    border-radius: 10px;
}

.menu_item {
    fill: white;
    float:left;
    width:100%;
    width: 100%;
    height:36px;
}

.menu_item > svg {
    float:left;
    width: 20px;
    height: 20px;
    padding: 8px 8px 8px 8px;
}

.menu_item > p {
    color: white;
    font-size: 14px;
    line-height:36px;
    float:left;
    margin:0;
}

.menu_item:hover {
    background-color: #ffffff26;
    border-radius: 10px;
}

.bold {
    font-weight: 600;
}

#login_reminder {
    color:white;
    margin-top:auto;
    font-size: 14px;
    line-height: 1.428;
}

.gray {
    color: #afafaf;
}

#login_reminder > button {
    width:100%;
    background-color: #212121;
    color:white;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff26;
    font-size: 14px;
    font-weight: 500;
    border-radius: 38px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: inherit;
    cursor: pointer;
    height: 44px;
    line-height: 40px;
}

#login_reminder > button > p {
    margin: 0;
    padding: 0;
}

#login_reminder > button:hover {
    background-color: #ffffff26;
}

#model_select {
    height: 36px;
    margin-left: 30px;
    background-color: #ffffff00;
    color:white;
    font-size:18px;
    line-height:28px;
    overflow:hidden;
    border:none;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 5px;
}

#model_select:hover {
    background-color: #ffffff26;
    border-radius: 10px;
}

#model_select > svg {
    display:inline-block;
    width: 16px;
    height: 16px;
    fill: #afafaf;
}

#ChatSQL {
    display: inline-block;
}

#top_login_button {
    background-color: #f9f9f9;
    color: #0d0d0d;
    height:36px;
    border-radius: 38px;
    border:none;
    font-family:inherit;
    font-weight:500;
    line-height:28px;
    font-size:14px;
    padding-left:12px;
    padding-right:12px;
    float:right;
    cursor: pointer;
}

#top_login_button > p {
    margin: 0;
    padding: 0;
}

#top_login_button:hover {
    background-color: #ebebeb;
}

#top_signup_button {
    background-color: #212121;
    color: white;
    height:36px;
    border-radius: 38px;
    border-style: solid;
    font-family:inherit;
    font-weight:500;
    line-height:28px;
    font-size:14px;
    padding-left:12px;
    padding-right:12px;
    border-width:1px;
    border-color: #ffffff26;
    float:right;
    cursor: pointer;
    margin-left:10px;
}

#top_signup_button > p {
    margin: 0;
    padding: 0;
}

#top_signup_button:hover {
    background-color: #ffffff11;
}

#top_help_button {
    background-color: #00000000;
    border:none;
    fill:white;
    float:right;
    width:36px;
    height:36px;
    padding:0;
    margin-left:10px;
    margin-right:20px;
    cursor: pointer;
}

#top_help_button:hover {
    background-color: #ffffff26;
    border-radius: 36px;
}

#top_help_button > svg {
    margin-top:5px;
    margin-bottom:5px;
    width: 24px;
    height: 24px;
}

#overlay_blur {
    position:fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #0000006f;
    backdrop-filter: blur(1px);
    z-index: 1000;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1001;
    border-radius: 16px;
    background-color: #212121;
    width: 388px;
    padding-bottom:20px;
    text-align: center;
}

.popup > svg {
    width: 20px;
    height: 20px;
    padding: 10px;
    fill: white;
    float:right;
    margin-right:10px;
    margin-top:10px;
    cursor: pointer;
}

.popup > svg:hover {
    background-color: #ffffff26;
    border-radius: 36px;
}

.popup > h2 {
    margin-top:50px;
    font-size:30px;
    font-weight: 400;
}

.popup > p {
    line-height:1.5;
}

.popup > input {
    width:300px;
    margin-top:30px;
    background-color: #2f2f2f;
    color: white;
    height:52px;
    border-radius: 38px;
    border-style: solid;
    font-family:inherit;
    border-width:1px;
    border-color: #ffffff26;
    padding-left:20px;
    font-size: 16px;
}

.popup > input:focus {
    border-color: #9b9b9b;
}

.popup > .submit_button {
    width: 324px;
    background-color: white;
    color:black;
    font:inherit;
    font-weight:500;
    cursor: pointer;
}

.popup > .submit_button:hover {
    background-color: #fffffff0;
}